<!DOCTYPE html>
<html>
  <head>
    <title>Thermostat</title>
  </head>

  <body>
    <section>
      <h1 id="temperature"></h1>
        <p>
         <button type="button" name="up">up</button>
         <button type="button" name="down">down</button>
         <button type="button" name="reset">reset</button>
         power saving mode is <span id="power_saving_status">on</span>
         <button type="button" name="on">on</button>
         <button type="button" name="off">off</button>
        </p>
    </section>
<script src="js/Thermostat.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

    <script src="js/interface.js"></script>
  </body>
</html>
